.container{
  position: absolute;
  top: 15%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.card{
  display: flex;
  justify-content: center;
}

body{
  overflow: scroll;
  -ms-overflow-style: none;
  background-color: #2b2d30;
}

body::-webkit-scrollbar {
  display: none;
}

.grid{
  display: flex;
  justify-content: center;
}

.card-background{
  border-radius: 25px !important;
  background-color: #8a929b !important;
}