.container{
  position: absolute;
  top: 15%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.card{
  display: flex;
  justify-content: center;
}

body{
  overflow: scroll;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.grid{
  display: flex;
  justify-content: center;
}