/* Updated CSS styles to make everything larger */
.App {
  background-color: black;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Arial, sans-serif;
  font-size: 60px; /* Increased font size */
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-family: Arial, sans-serif;
  font-size: 36px; /* Increased font size */
  margin-top: 20px; /* Increased margin */
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 40px; /* Increased margin */
}

.social-icon {
  text-align: center;
  margin: 0 20px; /* Increased margin */
}

.logo {
  width: 80px; /* Increased logo size */
  height: 80px; /* Increased logo size */
}

.social-icon a {
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 10px; /* Increased margin */
  font-size: 24px; /* Increased font size */
}

.social-icon a:hover {
  color: #007bff;
  text-decoration: underline;
}
